input,
span{
    margin-right: 0.625rem;
}
button{
    margin-right: 0.3rem;
}
.sum{
    display: inline-block;
    border-radius: 0.5rem;
    font-weight: 700;
    min-width: 3rem;
    text-align: center;
    margin-left: 0.625rem;
    margin-right: 2rem;
    margin-top: 0.2rem;
}
.inpNumb{
    border: 0.06rem solid black;
    font-weight: 600;
    width:3.1rem;
    margin-left: 0.625rem;
    text-align: center;
}
.btnSumReset{
   background-color: gray;
   font-weight: 600;
   padding: 0.18rem 0.31rem;
   border-radius: 0.75rem;
   cursor: pointer;
   border: 0.06rem solid black;
}