.totalPost{
    display: flex;
    gap:0.625rem;
    margin-top:0.6rem;
}
.total{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.postBtn{
    height:1.56rem; 
    background-color: orange;
    border-radius: 0.75rem;
    font-weight: 600;
    padding: 0.125rem 0.5rem;
    cursor: pointer;
    border: none;
}
.postBtn:hover{
   background-color: blue;
   color: white;
   transition: all 0.7s ease;
}
h5{

    text-align: center;
    padding-top: 0.18rem;
}